*{
    margin:0;
    padding:0;
}

.c-item{
    height: 500px;
}
.c-img{
    height: auto;
    object-fit: cover;
}
.logo1{
    height: 70px;
}
.lineas{
    width: 300px;
    height: 10px;
    background: black;
    container-type: auto;
    display: block;
    top: 30px;   
    position: relative;
    margin-right: 10px;
}
.texto{

color: black;
float: left;
margin-left: 300px;
padding-left: 20px;
width: 100%;
text-overflow: ellipsis;
white-space: nowrap;
}
.lineas2{
    width: 300px;
    height: 10px;
    background: black;
    container-type: auto;
    display: block;
    top: 30px;   
    position: relative;
    margin-left:1050px ;
    
}
.contenedor{
    display: flex;
    height: 600px;  
    float: left;
    margin: 100px;


}
.contenedor img:first-child{
    margin-right: 90px;
}
.lineas3{
    width: 400px;
    height: 10px;
    background: #BA1FB5;
    margin-right: 200px;
   float: left;
  
}
.texto1{

color: #BA1FB5;
margin-left: 400px;
padding-left: 20px;
width: 100%;
text-overflow: ellipsis;
white-space: nowrap;
text-align: center;

}
.lineas4{
    width: 525px;
    height: 10px;
    background: #BA1FB5;
    display: block;
    margin-left:1025px ;
    float: right;
    
}
main {
    width: auto;
    margin: auto;
    background-color: #e7b5d8f1;
    gap: 1em;
    padding: 2em;
    


display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: auto auto;

}

.caja {
    height: 100%;
    background-color: #ffffff;
    align-content: center;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: rgb(8, 8, 8);

}

.c1{
    grid-column: 1/4;
}
footer{
    
    width: auto;
    margin: auto;
    background-color: #fffffff1;
    gap: 1em;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: auto auto;

}
.seccion {
    height: 100%;
    background-color: #ffffff;
    align-content: center;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: rgb(8, 8, 8);

}
